$trans4: all 0.4s linear;
$trans3: all 0.3s linear;
$trans2: all 0.2s linear;
$trans1: all 0.1s linear;
$front-text-shadow:.6rem .6rem 4rem blanchedalmond;
$section-box-shadow:.6rem .6rem 1rem rgba(184, 184, 184, 0.609);
$skill-img-box-shadow:0 0 30px -.2rem rgba(202, 201, 201, 0.959);
$skill-img-box-shadow-hover:0 0 3rem aqua;